@charset "utf-8";
/* CSS Document */
body{
	background: url("../img/background.jpg");
	background-size: cover;
	background-position-y: -250px;
	font-size: 20px;
}
#wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#form-login{
	max-width: 350px;
	background: rgba(255, 255, 255, 0.8);
	flex-grow: 1;
	padding: 30px 30px 40px;
	box-shadow:0px 0px 17px 2px rgba(0, 0, 0, 0.8);
}
.form-heading{
	font-size: 25px;
	text-align: center;
	margin-bottom: 30px;
}
.form-group{
	border-bottom: 1px solid #000000;
	margin-bottom: 20px;
	margin-top: 15px;
	display: flex;
}
.form-group i{
	font-size: 14px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
}
.form-input{
	background: transparent;
	border: 0;
	outline: 0;
	flex-grow: 1;
}
.form-input::placeholder{
	color: #000000;
}
#eye i{
	padding-right: 0;
}
.form-submit{
	background: transparent;
	border: 1px solid #000000;
	width: 100%;
	text-transform: uppercase;
	padding: 6px 10px;
	transition: 0.25s ease-in-out;
	margin-top: 30px;
}
.form-submit:hover{
	border: 1px solid #54a0ff;
	background-color: #54a0ff;
	color: white;
}
p{
	text-align: center;
	justify-content: center;
	font-size: 15px;
}
p:hover{
	color:  #F51215;
}